<!-- header.html (ch08www project) -->
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    不吐不快
                </div>
            </div>
            <ul class='nav navbar-nav'>
                <li class='active'><a href='/'>Home</a></li>
                <li><a href='/list'>浏览信息</a></li>  
                <li><a href='/post'>张贴信息(仅窗体)</a></li>
                <li><a href='/post2db'>张贴信息</a></li>
                <li><a href='/contact'>联络管理员</a></li>
                <li><a href='/admin'>后台管理</a></li>  
            </ul>
        </div>
    </nav>