<!-- posts.html (ch08www project) -->
{% extends "base.html" %}
{% block title %}I have something to say{% endblock %}
{% block content %}
<!-- js go_delete -->
<script>
    function go_delete(id){
        var user_pass=document.getElementById('user_pass').value;
        if (user_pass != ""){
            var usr='/'+id+'/'+user_pass;
            //console.log(usr);
            window.location=usr;
        }

    }
</script>
    
<!-- end of js go_delete -->
<div class='container' align=center>
    <form name="my form" action='/posting' method='GET'>
        Your Mood: <br/>
        {%for m in moods%}
        <input type='radio' name='mood' value='{{m.status}}'>{{m.status}}
        {%endfor%}
        <br/>
        Leave a Message Today:<br/>
        {%if message%}
            <div class='alert alert-warning'>{{message}}</div>
        {%endif%}
        <textarea name='user_post' rows=3 cols=70></textarea><br>
        <label for='user_id1'>Your Nickname:</label>
        <input id='user_id1' type='text' name='user_id1'>
        <label for='user_pass'>Password:</label>
        <input id='user_pass' type='password' name='user_pass'><br>
        <input type='submit' value='Submit'>
        <input type='reset' value='Reset'>
    </form>
    <br>
    <div class='row'>
        <div class="col-md-12">
            <h1>宝宝心里苦 宝宝有话只在这里说</h1>
        </div>
    </div>
    <br>
    {%for p in posts%}
        {%cycle "<div class='row'> <div class='col-md-3'>" "<div class='col-md-3'>" "<div class='col-md-3'>" "<div class='col-md-3'>"%}
            <div class="panel panel-primary">
                <div class="panel-heading">{{p.nickname}} feels {{p.mood}}</div>
                <div class="panel-body">{{p.message|linebreaks}}</div>
                <div class="panel-footer" align="right"><small>{{p.pub_time}}<span class="glyphicon glyphicon-trash" onclick='go_delete({{p.id}})'></span></small></div>
                
            </div>
        </div>
        {%cycle "" "" "" "</div>" %}
    {%endfor%}
</div>


{% endblock %}